/* roboto-300 - latin_cyrillic */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	src: url('../../fonts/Roboto/roboto-v20-latin_cyrillic-300.eot'); /* IE9 Compat Modes */
	src: local('Roboto Light'), local('Roboto-Light'),
		  url('../fonts/Roboto/roboto-v20-latin_cyrillic-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		  url('../fonts/Roboto/roboto-v20-latin_cyrillic-300.woff2') format('woff2'), /* Super Modern Browsers */
		  url('../fonts/Roboto/roboto-v20-latin_cyrillic-300.woff') format('woff'), /* Modern Browsers */
		  url('../fonts/Roboto/roboto-v20-latin_cyrillic-300.ttf') format('truetype'), /* Safari, Android, iOS */
		  url('../fonts/Roboto/roboto-v20-latin_cyrillic-300.svg#Roboto') format('svg'); /* Legacy iOS */
 }
 /* roboto-300italic - latin_cyrillic */
 @font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 300;
	src: url('../fonts/Roboto/roboto-v20-latin_cyrillic-300italic.eot'); /* IE9 Compat Modes */
	src: local('Roboto Light Italic'), local('Roboto-LightItalic'),
		  url('../fonts/Roboto/roboto-v20-latin_cyrillic-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		  url('../fonts/Roboto/roboto-v20-latin_cyrillic-300italic.woff2') format('woff2'), /* Super Modern Browsers */
		  url('../fonts/Roboto/roboto-v20-latin_cyrillic-300italic.woff') format('woff'), /* Modern Browsers */
		  url('../fonts/Roboto/roboto-v20-latin_cyrillic-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
		  url('../fonts/Roboto/roboto-v20-latin_cyrillic-300italic.svg#Roboto') format('svg'); /* Legacy iOS */
 }
 /* roboto-regular - latin_cyrillic */
 @font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/Roboto/roboto-v20-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
	src: local('Roboto'), local('Roboto-Regular'),
		  url('../fonts/Roboto/roboto-v20-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		  url('../fonts/Roboto/roboto-v20-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
		  url('../fonts/Roboto/roboto-v20-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
		  url('../fonts/Roboto/roboto-v20-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
		  url('../fonts/Roboto/roboto-v20-latin_cyrillic-regular.svg#Roboto') format('svg'); /* Legacy iOS */
 }
 /* roboto-500 - latin_cyrillic */
 @font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/Roboto/roboto-v20-latin_cyrillic-500.eot'); /* IE9 Compat Modes */
	src: local('Roboto Medium'), local('Roboto-Medium'),
		  url('../fonts/Roboto/roboto-v20-latin_cyrillic-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		  url('../fonts/Roboto/roboto-v20-latin_cyrillic-500.woff2') format('woff2'), /* Super Modern Browsers */
		  url('../fonts/Roboto/roboto-v20-latin_cyrillic-500.woff') format('woff'), /* Modern Browsers */
		  url('../fonts/Roboto/roboto-v20-latin_cyrillic-500.ttf') format('truetype'), /* Safari, Android, iOS */
		  url('../fonts/Roboto/roboto-v20-latin_cyrillic-500.svg#Roboto') format('svg'); /* Legacy iOS */
 }
 /* roboto-700 - latin_cyrillic */
 @font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/Roboto/roboto-v20-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
	src: local('Roboto Bold'), local('Roboto-Bold'),
		  url('../fonts/Roboto/roboto-v20-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		  url('../fonts/Roboto/roboto-v20-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
		  url('../fonts/Roboto/roboto-v20-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
		  url('../fonts/Roboto/roboto-v20-latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
		  url('../fonts/Roboto/roboto-v20-latin_cyrillic-700.svg#Roboto') format('svg'); /* Legacy iOS */
 }
 /* roboto-900 - latin_cyrillic */
 @font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 900;
	src: url('../fonts/Roboto/roboto-v20-latin_cyrillic-900.eot'); /* IE9 Compat Modes */
	src: local('Roboto Black'), local('Roboto-Black'),
		  url('../fonts/Roboto/roboto-v20-latin_cyrillic-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		  url('../fonts/Roboto/roboto-v20-latin_cyrillic-900.woff2') format('woff2'), /* Super Modern Browsers */
		  url('../fonts/Roboto/roboto-v20-latin_cyrillic-900.woff') format('woff'), /* Modern Browsers */
		  url('../fonts/Roboto/roboto-v20-latin_cyrillic-900.ttf') format('truetype'), /* Safari, Android, iOS */
		  url('../fonts/Roboto/roboto-v20-latin_cyrillic-900.svg#Roboto') format('svg'); /* Legacy iOS */
 }
 
html {
	font-size: 16px;
	font-family: Roboto, sans-serif;
}
 
body {
	background-color: #fbfbfb;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}
 
a {
	text-decoration: none;
}
 
.call__button {
	padding: 15px 40px;
	border: 1px solid #f82370;
	background-color: transparent;
	color: #f53f4f;
	font-size: 16px;
	outline: none;
	cursor: pointer;
}
 
.call__button_mobile {
	display: none;
}
 
.form__button {
	display: block;
	padding: 24px 70px;
	border: none;
	background-color: #ff4e2e;
	color: #fff;
	font-size: 18px;
	font-family: Roboto, sans-serif;
	outline: none;
	cursor: pointer;
}

.scroll {
	overflow: hidden;
}
 
.fixed-container {
	padding: 0 20px;
	margin: 0 auto;
	max-width: 1170px;
	position: relative;
}

/* ВСПЛЫВАЮЩАЯ ФОРМА */

.popup-container {
	position: fixed;
	z-index: 100;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-line-pack: center;
	    align-content: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	overflow: hidden;
	background-color: rgba(128,128,128,0.5);
}

	.popup {
		border: 1px solid #000;
		min-width: 320px;
		border-radius: 20px;
		background: -o-linear-gradient(55deg, #ff8f5a 30%, #ff2f96 70%);
		background: linear-gradient(35deg, #ff8f5a 30%, #ff2f96 70%);
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		padding: 30px;
		transform: rotateX(90deg);
		transition: transform 0.2s linear;
	}

	.popup__off {
		display: none;
	}

	.active {
		display: flex;
	}

	.popup-close {
		position: relative;
		width: 100%;
		height: 30px;
		border: none;
		background-color: transparent;
		outline: none;
	}
		.popup-cross {
			position: absolute;
			width: 30px;
			height: 30px;
			opacity: 0.5;
			bottom: 0;
			right: 0;
			cursor: pointer;
			-webkit-transition: opacity 0.3s;
			-o-transition: opacity 0.3s;
			transition: opacity 0.3s;
		}
			.popup-cross:hover{
				opacity: 1;
			}
		.popup-cross:before, .popup-cross:after {
			content: '';
			position: absolute;
			height: 31px;
			width: 10px;
			background-color: #fff;
			left: 10px;
		}
			.popup-cross:before {
				-webkit-transform: rotate(45deg);
				    -ms-transform: rotate(45deg);
				        transform: rotate(45deg);
			}
			.popup-cross:after {
				-webkit-transform: rotate(-45deg);
				    -ms-transform: rotate(-45deg);
				        transform: rotate(-45deg);
			}

		.popup__form {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			    -ms-flex-direction: column;
			        flex-direction: column;
		}

			.popup__form_line {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				margin-bottom: 20px;
				-webkit-box-pack: justify;
				    -ms-flex-pack: justify;
				        justify-content: space-between;
			}

				.popup__form_line label {
					font-weight: bold;
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					-webkit-box-align: center;
					    -ms-flex-align: center;
					        align-items: center;
					margin-right: 20px;
				}

					.red-star:after {
						content: '*';
						left: 2px;
						position: relative;
						font-size: 16px;
						color: #000;
					}

				.popup__form_line input {
					-webkit-box-sizing: border-box;
					        box-sizing: border-box;
					font-family: Roboto, sans-serif;
					font-size: 14px;
					outline: none;
					padding: 10px;
					border: 1px solid #000;
					border-radius: 10px;
				}

			.popup__form_text {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				    -ms-flex-direction: column;
				        flex-direction: column;
				-webkit-box-align: center;
				    -ms-flex-align: center;
				        align-items: center;
				
			}

				.popup__form_text label {
					font-weight: bold;
				}

				.popup__form_text textarea {
					font-family: Roboto, sans-serif;
					font-size: 12px;
					-webkit-box-sizing: border-box;
					        box-sizing: border-box;
					padding: 10px;
					margin-top: 20px;
					height: 100px;
					width: 100%;
					resize: none;
					outline: none;
					border: 1px solid #000;
					border-radius: 10px;
				}

			.popup__required {
				border-radius: 6px;
				padding: 5px 20px;
				background-color: #757373;
				color: #fff;
				font-size: 14px;
				margin: 20px auto; 
				text-align: center;
			}

			.popup__form_button {
				color: #fff;
				background-color: #ff4e2e;
				-webkit-box-sizing: content-box;
				        box-sizing: content-box;
				font-family: Roboto, sans-serif;
				font-size: 20px;
				font-weight: bold;
				padding: 18px 25px;
				margin: 0 auto;
				border: none;
				border-radius: 30px;
				outline: none;
				cursor: pointer;
			}

	.popup__succes {
		border: 1px solid #000;
		border-radius: 20px;
		background: -o-linear-gradient(55deg, #ff8f5a 30%, #ff2f96 70%);
		background: linear-gradient(35deg, #ff8f5a 30%, #ff2f96 70%);
		display: -webkit-box;
		display: -ms-flexbox;
		display: none;
		-webkit-box-align: center;
		-ms-flex-align: center;
		padding: 15px;
		transform: rotateX(90deg);
		transition: transform 0.2s linear;
	}

	.popup__succes span {
		color: #fff;
		text-align: center;
		display: block;
		font-weight: bold;
	}
	
	.active__succes {
		display: flex;
	}

	/* Валидация */

	.error {
		background-color: #ffa3a3;
	}

 /* ХЕДЕР */
 
 header {
	 margin: 30px 0;
 }
 
 header .fixed-container {
	 display: -webkit-box;
	 display: -ms-flexbox;
	 display: flex;
	 -webkit-box-pack: justify;
		  -ms-flex-pack: justify;
				justify-content: space-between;
 }
 
 .header__nav {
	 display: -webkit-box;
	 display: -ms-flexbox;
	 display: flex;
	 -webkit-box-align: center;
		  -ms-flex-align: center;
				align-items: center;
	 z-index: 5;
 }
 
	 .hover-color a {
		 color: black;
		 position: relative;
		 -webkit-transition: .5s;
		 -o-transition: .5s;
		 transition: .5s;
	 }
 
	 .hover-color a::before {
		 content: '';
		 position: absolute;
		 bottom: -1px;
		 width: 100%;
		 height: 1px;
		 background: #fc557c;
		 -webkit-transition: .5s;
		 -o-transition: .5s;
		 transition: .5s;
		 -webkit-transform: scale(0);
			  -ms-transform: scale(0);
					transform: scale(0);
		 -webkit-transform-origin: center;
			  -ms-transform-origin: center;
					transform-origin: center;
	 }
	 
	 .hover-color a:hover::before {
		 -webkit-transform: scale(1);
			  -ms-transform: scale(1);
					transform: scale(1);
	 }
 
	 .hover-color a:hover {
		 color: #fc557c;
	 }
 
	 .header__nav ul {
		list-style-type: none;
		-webkit-padding-start: 0;
		margin: 0;
	 } 
 
	 .header__nav li {
		 display: inline;
		 margin-right: 33px;
	 }
 
		 .header__nav li:last-child {
			 margin-right: 0;
		 }
 
 .header__nav_burger {
	 display: none;
 }
 
 .header__contacts {
	 display: -webkit-box;
	 display: -ms-flexbox;
	 display: flex;
	 -webkit-box-align: center;
		  -ms-flex-align: center;
				align-items: center;
	 font-size: 25px;
	 font-weight: bold;
 }
 
 .header__contacts a {
	 margin-right: 30px;
	 color: black;
	 text-decoration: none;
 }
 
 /* Блок обо мне */
 
 .container {
	 max-width: 1170px;
	 padding: 0 20px;
	 margin: 0 auto;
 }
 
	 /* ЛЕТАЮЩИЕ ТЕГИ (верх)*/
 
	 .about-me__attribut {
		 position: absolute;
		 color: #ff2f96;
		 font-weight: 500;
		 -webkit-transition: all 1s ease-in-out 0.5s;
		 -o-transition: all 1s ease-in-out 0.5s;
		 transition: all 1s ease-in-out 0.5s;
		 left: 100px;
		 top: 340px;
		 z-index: -1;
	 }
		 .about-me__attribut1 {
			 font-size: 48.77px;
			 -webkit-transform: rotate(30deg) translateX(-468px) translateY(-120px);
				  -ms-transform: rotate(30deg) translateX(-468px) translateY(-120px);
						transform: rotate(30deg) translateX(-468px) translateY(-120px);
		 }
		 .about-me__attribut2 {
			 font-size: 29.88px;
			 word-spacing: -8px;
			 -webkit-transform: rotate(-14deg) translateX(378px) translateY(-222px);
				  -ms-transform: rotate(-14deg) translateX(378px) translateY(-222px);
						transform: rotate(-14deg) translateX(378px) translateY(-222px);
		 }
		 .about-me__attribut3 {
			 -webkit-transform: rotate(15deg) translateX(-251px) translateY(-47px);
				  -ms-transform: rotate(15deg) translateX(-251px) translateY(-47px);
						transform: rotate(15deg) translateX(-251px) translateY(-47px);
			 font-size: 57.11px;
		 }
		 .about-me__attribut4 {
			 -webkit-transform: rotate(21deg) translateX(469px) translateY(-108px);
				  -ms-transform: rotate(21deg) translateX(469px) translateY(-108px);
						transform: rotate(21deg) translateX(469px) translateY(-108px);
			 font-size: 37.57px;
			 word-spacing: -10px;
		 }
		 .about-me__attribut5 {
			 -webkit-transform: rotate(-22deg) translateX(-164px) translateY(145px);
				  -ms-transform: rotate(-22deg) translateX(-164px) translateY(145px);
						transform: rotate(-22deg) translateX(-164px) translateY(145px);
			 font-size: 40.77px;
			 word-spacing: -11px;
		 }
 
	 .about-me__anim {
		 -webkit-transform: rotate(0) translateX(0) translateY(0);
			  -ms-transform: rotate(0) translateX(0) translateY(0);
					transform: rotate(0) translateX(0) translateY(0);
	 }
 
 .about {
	 position: relative;
	 padding-top: 30px;
	 overflow: hidden;
 }
 
 .me__title {
	 padding-top: 153px;
	 position: relative;
	 z-index: 1;
 }
 
 .me__container {
	 display: -webkit-box;
	 display: -ms-flexbox;
	 display: flex;
	 -webkit-box-pack: justify;
		  -ms-flex-pack: justify;
				justify-content: space-between;
 }
 
 .fio {
	color: #1f1f24;
	font-size: 80px;
	font-weight: 900;
	margin-bottom: 45px;
	-webkit-margin-before: 0;
	white-space: nowrap;
 }
 
 .profession {
	 color: #8993ad;
	 font-family: Roboto;
	 font-size: 25px;
	 font-weight: 400;
	 display: block;
	 margin-top: 14px;
 }
 
 img {
	 max-width: 100%;
 }
 
 .about__image {
	 margin-right: -80px;
	 position: relative;
	 z-index: 1;
 }

.me__svg {
	position: absolute;
	right: -9px;
	bottom: 0;
	z-index: 0;
 }
 
 /* Центральный блок */
 
 .central-bloc {
	 background-color: #fff;
	 padding: 100px 0;
	 
 }
 
 .central-bloc span {
	 margin-bottom: 100px;
	 display: block;
	 font-size: 54px;
	 font-weight: bold;
	 text-align: center;
 }
 
 .central-bloc button {
	 margin: 0 auto;
 }
 
 .central-bloc ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	list-style-type: none;
	-webkit-padding-start: 0;
	margin: 0;
	margin-bottom: 100px;
	color: #8993ad;
 }
 
 .central-bloc li {
	 width: 25%;
	 display: inline-block;
	 text-align: center;
	 padding-top: 98px;
 }
 
 .tools {
	 background: url(../img/tools-and-utensils.png) no-repeat center top;
 }
 
 .responsive {
	 background: url(../img/responsive.png) no-repeat center top;
 }
 
 .programming {
	 background: url(../img/programming.png) no-repeat center top;
 }
 
 .coding {
	 background: url(../img/coding.png) no-repeat center top;
 }
 
 /* ПРИМЕРЫ РАБОТ */
 
 .my-works {
	 padding: 100px 0;
 }
 
 .my-works .fixed-container {
	 position: relative;
 }
 
 .my-works span {
	 margin-bottom: 114px;
	 display: block;
	 font-size: 54px;
	 font-weight: bold;
	 text-align: center;
 }
 
 .swiper-container {
	 margin-bottom: 100px;
 }
 
 .arrow-button {
	 position: relative;
 }
 
 
 .swiper-button-prev, .swiper-button-next {
	 top: 139px;
	 color: black;
 }
 
 .swiper-button-prev {
	 left: -30px;
	 background: url(../elements/arrow.png) no-repeat center;
	 width: 60px;
	 height: 60px;
	 border: none;
	 border-radius: 50%;
	 outline: none;
	 -webkit-box-shadow: 0 0 10px;
				box-shadow: 0 0 10px;
 }
 
 .swiper-button-next {
	 right: -20px;
	 -webkit-transform: rotate(180deg);
		  -ms-transform: rotate(180deg);
				transform: rotate(180deg);
	 background: url(../elements/arrow.png) no-repeat center;
	 width: 60px;
	 height: 60px;
	 border: none;
	 border-radius: 50%;
	 outline: none;
	 -webkit-box-shadow: 0 0 10px;
				box-shadow: 0 0 10px;
 }
 
 .swiper-button-prev::after, .swiper-button-next::after {
	 display: none;
 }
 
 .swiper-pagination {
	 display: none;
 }
 
 .swiper-slide-text {
	 text-align: center;
	 color: #8993ad;
	 font-size: 20px;
	 font-weight: 500;
	 margin-top: 36px;
 }
 
 .center__button {
	 margin: 0 auto;
 }
 
 /* Нижний блок с градиентов */
 
 .lower-bloc {
	 width: 100%;
	 padding: 88px 0;
	 background: -o-linear-gradient(75deg, #ff8f5a 30%, #ff2f96 70%);
	 background: linear-gradient(15deg, #ff8f5a 30%, #ff2f96 70%);
 }
 
	 .lower-bloc .fixed-container {
		 max-width: 950px;
	 }
 
	 .lower-bloc__title {
		 display: block;
		 color: #fff;
		 font-size: 45px;
		 font-weight: bold;
		 position: relative;
		 margin-bottom: 52px;
	 }
 
	 .lower-bloc__note {
		 padding-left: 13px;
		 display: block;
		 max-width: 755px;
		 color: #fff;
		 font-size: 16px;
		 position: relative;
		 line-height: 1.7;
	 }
 
	 .lower-bloc__note::before {
		 content: "*";
		 position: absolute;
		 left: 0;
	 }
 
		 /* ЛЕТАЮЩИЕ ТЕГИ (низ)*/
 
		 .info-costs-me__attribut {
			 position: absolute;
			 font-weight: 500;
			 color: #fff;
		 }
			 .info-costs-me__attribut1 {
				 top: -9px;
				 left: -206px;
				 -webkit-transform: rotate(26deg);
					  -ms-transform: rotate(26deg);
							transform: rotate(26deg);
				 font-size: 48.77px;
			 }
			 .info-costs-me__attribut2 {
				 right: -128px;
				 -webkit-transform: rotate(-24deg);
					  -ms-transform: rotate(-24deg);
							transform: rotate(-24deg);
				 font-size: 40.77px;
				 word-spacing: -11px;
			 }
			 .info-costs-me__attribut3 {
				 top: 100px;
				 left: -90px;
				 -webkit-transform: rotate(16deg);
					  -ms-transform: rotate(16deg);
							transform: rotate(16deg);
				 font-size: 57.11px;
			 }
			 .info-costs-me__attribut4 {
				 top: 200px;
				 right: -227px;
				 -webkit-transform: rotate(-16deg);
					  -ms-transform: rotate(-16deg);
							transform: rotate(-16deg);
				 font-size: 49.96px;
			 }
			 .info-costs-me__attribut5 {
				 top: 240px;
				 right: 75px;
				 -webkit-transform: rotate(20deg);
					  -ms-transform: rotate(20deg);
							transform: rotate(20deg);
				 font-size: 37.55px;
				 word-spacing: -10px;
			 }
 
 /* Футер и Копирайт */
 
 .footer__up {
	 padding: 77px 0;
	 display: -webkit-box;
	 display: -ms-flexbox;
	 display: flex;
	 -webkit-box-pack: justify;
		  -ms-flex-pack: justify;
				justify-content: space-between;
 }
 
 .footer__nav a {
	 color: #8993ad;
 } 
 
 .footer__nav ul {
	 margin: 0;
	 padding: 0;
	 list-style-type: none;
 }
 
 .footer__nav li {
	 margin-bottom: 20px;
	 font-size: 18px;
 }
 
 .footer__contacts {
	 font-size: 25px;
 }
 
 .footer__contacts ul {
	 margin: 0;
	 padding: 0;
	 list-style-type: none;
 }
 
 .footer__contacts li {
	 margin-bottom: 35px;
 }
 
	 .phone:before {
		 content: "\f095"; /* добавляем иконку корзина */
		 font-family: FontAwesome;
		 color: #fa0b8d;
		 margin-right: 20px; 
		 }
 
	 .mail:before {
		 content: "\f0e0"; /* добавляем иконку корзина */
		 font-family: FontAwesome;
		 color: #fa0b8d;
		 margin-right: 22px;
		 }
 
	 .mail a, .phone a {
		 color: black;
	 }
 
 .footer__up-social {
	 display: -webkit-box;
	 display: -ms-flexbox;
	 display: flex;
	 -webkit-box-orient: vertical;
	 -webkit-box-direction: normal;
		  -ms-flex-direction: column;
				flex-direction: column;
	 position: relative;
	 right: 22px;
 }
 
 .footer__up-social button{
	 margin-bottom: 31px;
	 padding: 15px 60px;
 }
 
.footer__up-social ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	list-style-type: none;
	margin: 0;
	padding: 0;
 }
 
 .footer__up-social li {
	 margin-right: 30px;
	 cursor: pointer;
 }
 
 .footer__up-social li:last-child {
	 margin-right: 0;
 }
 
 .vk {
	 display: block;
	 height: 28px;
	 width: 35px;
	 background: url(../img/social_sprite.png) no-repeat;
 }
 
 .fb {
	 display: block;
	 height: 28px;
	 width: 16px;
	 background: url(../img/social_sprite.png) no-repeat -65px;
 }
 
 .tw {
	 display: block;
	 height: 28px;
	 width: 29px;
	 background: url(../img/social_sprite.png) no-repeat -111px;
 }
 
 .inst {
	 display: block;
	 height: 28px;
	 width: 25px;
	 background: url(../img/social_sprite.png) no-repeat -169px;
 }
 
 /* Копирайт */
 
 .copyright {
	 color: #fff;
	 background-color: #31293c;
	 padding: 32px 0;
	 text-align: center;
 }